{% extends 'layouts/base.html.twig' %}

{% block title %}Faq index
{% endblock %}

{% block body %}

	<h1>Réchercher une réponse</h1>
	{{ form_start(form,{role: "form" }) }}
	<div class="col-md-2">
		<div class="form-group">
			{{ form_widget(form.question, {"attr":{"class": 'form-control', "placeholder": "Que désirez-vous savoir ?"}}) }}
		</div>
	</div>
	<button type="submit" class="btn btn-primary">Posez la question</button>
	{{ form_end( form ) }}


	{% if displaySearchSection %}
		<hr><hr><hr>
		<div
			id="result">

			{# Result from the faq #}
			{% if  responses.fromFaq.count >=1 %}
				<div class="row">
					<div class=" col-md-12 text-center">
						<h1 class=" text-center">
							{{ responses.fromFaq.count }}
							trouvé (s) dans les faq</h1>
						{% for faq in responses.fromFaq.list %}
							<div class=" col-md-4 text-center">
								<h3>
									{{ faq.question }}</h3>
								<p>{{ faq.response }}</p>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}

			{# Section to display result from forum #}
			{% if  responses.fromFc.count >= 1 %}
				<hr>
				<hr>
				<h1>
					{{ responses.fromFc.count }}
					trouvé (s) dans les messages du forum</h1>
				{% for message in responses.fromFc.list %}
					<div class=" col-md-4">
						<h3>
							{{ message.title }}</h3>
						<p>{{ message.content }}</p>
					</div>
				{% endfor %}
			{% endif %}

			{# Only when zero result is found #}
			{% if  responses.fromFaq.count == 0 and  responses.fromFc.count == 0 %}
				<div class="row">
					<div class=" col-md-12 text-center">
						<h1>Désolé! Aucune réponse trouvée</h1>
						<p>Nous vous suggérons de
							<a href="{{ path('message_index')}}">poser votre question</a>
							dans le forum</p>
					</div>
				</div>
			{% endif %}
		</div>
	{% endif %}


	<hr><hr><hr>
	<h1 id="faq">Les catégorie de Faq</h1>
	<div class="row text-center">
		{% for faqCat in faq_categories %}
			<div class="col-md-4">
				<h3>
					<a href="{{ path('faq_of_category', {id: faqCat.id }) }}">{{ faqCat.name }}
					</a>
				</h3>
				<p>{{ faqCat.description }}</p>
			</div>
		{% else %}
			<div>
				<h3>Oups...</h3>
				<p>Aucune catégorie de forie à question n'est encore enregistrée par ici</p>
			</div>
		{% endfor %}
	</div>
{% endblock %}
