{% extends 'layouts/faq_base.html.twig' %}

{% block title %}Faq index
{% endblock %}

{% block content %}

	{# Search form #}
	<div class="splash">
		<div class="container">
			<div class="row ">
				<div class="col-lg-12 col-sm-12">
					<h1 style="margin-bottom: 30px; font-style: italic;">Hey! Besoin d'aide sur etudiant.bj ?</h1>
					<h4 style="color: white; margin-bottom: 20px; font-style: italic;">Recherchez une réponse ici</h4>
					<div class=" justify-content-center">
						{{ form_start(form,{role: "form"}) }}
						<div class="col-lg-12 col-sm-12">
							<div >
								{{ form_widget(form.question, {"attr":{"class": 'form-control input-lg', "placeholder": "Que désirez-vous savoir ?" }}) }}
							</div>
							<div>
								<button class="btn btn-dark btn-medium" type="submit">Posez la question</button>
							</div>
						</div>
						{{ form_end( form ) }}
					</div>
				</div>
			</div>
		</div>
	</div>

	{# Section search result #}

	{% if displaySearchSection %}
		<div
			id="result">

			{# Result from the faq #}
			{% if  responses.fromFaq.count >=1 %}
				<div class="row">
					<div class=" col-md-12 text-center">
						<h1 class=" text-center">
							{{ responses.fromFaq.count }}
							trouvé (s) dans les faq</h1>
						{% for faq in responses.fromFaq.list %}
							<div class=" col-md-4 text-center">
								<h3>
									{{ faq.question }}</h3>
								<p>{{ faq.response }}</p>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}

			{# Section to display result from forum #}
			{% if  responses.fromFc.count >= 1 %}
				<hr>
				<hr>
				<h1>
					{{ responses.fromFc.count }}
					trouvé (s) dans les messages du forum</h1>
				{% for message in responses.fromFc.list %}
					<div class=" col-md-4">
						<h3>
							{{ message.title }}</h3>
						<p>{{ message.content }}</p>
					</div>
				{% endfor %}
			{% endif %}

			{# Only when zero result is found #}
			{% if  responses.fromFaq.count == 0 and  responses.fromFc.count == 0 %}
				<div class="row">
					<div class=" col-md-12 text-center">
						<h1>Désolé! Aucune réponse trouvée</h1>
						<p>Nous vous suggérons de
							<a href="{{ path('message_index')}}">poser votre question</a>
							dans le forum</p>
					</div>
				</div>
			{% endif %}
		</div>
	{% endif %}

	<div class="section-tout">
		<div class="container">
			<h2>Catégorie de question fréquemment posées</h2>
			<br>
			<div class="row">
				{% for faqCat in faq_categories %}
					<div class="col-lg-4 col-sm-6">
						<a href="{{ path('faq_of_category', {id: faqCat.id }) }}" class="badge">
							<div class="icon">
								<i class="fa fa-file-o white"></i>
							</div>
							<h4>{{ faqCat.name }}</h4>
						</a>
						<p>{{ faqCat.description }}</p>
					</div>
				{% else %}
					<div class="col-lg-12 col-sm-12">
						<h4>Oups...</h4>
						<p>Aucune catégorie de forie à question n'est encore enregistrée par ici</p>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>


{% endblock %}
