

{% block title %}FaqCategory index{% endblock %}

{% block body %}

<h1>Create new FaqCategory</h1>

    {{ include('manager/faq_category/_form.html.twig') }}

    <h1>FaqCategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for faq_category in faq_categories %}
            <tr>
                <td>{{ faq_category.id }}</td>
                <td>{{ faq_category.name }}</td>
                <td>{{ faq_category.description }}</td>
                <td>
                    <a href="{{ path('faq_category_edit', {'id': faq_category.id}) }}">edit</a>
                        {{ include('manager/faq_category/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
