{% extends 'base.html.twig' %}

{% block title %}SearchTracker{% endblock %}

{% block body %}
    <h1>SearchTracker</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ search_tracker.id }}</td>
            </tr>
            <tr>
                <th>Question</th>
                <td>{{ search_tracker.question }}</td>
            </tr>
            <tr>
                <th>FaqFoundResult</th>
                <td>{{ search_tracker.faqFoundResult }}</td>
            </tr>
            <tr>
                <th>FcFoundResult</th>
                <td>{{ search_tracker.fcFoundResult }}</td>
            </tr>
            <tr>
                <th>SearchedAt</th>
                <td>{{ search_tracker.searchedAt ? search_tracker.searchedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('search_tracker_index') }}">back to list</a>

    <a href="{{ path('search_tracker_edit', {'id': search_tracker.id}) }}">edit</a>

    {{ include('search_tracker/_delete_form.html.twig') }}
{% endblock %}
