{% extends "layouts/layouts.html.twig" %}
{% block title %}
	Réponses à

{% endblock %}

{# Page header #}
{% block header %}
	<section class="content-header mt-5">
		<h1>
			FORUM
			<a href="/">
				<small>Retour</small>
			</a>
		</h1>
		<ol class="breadcrumb">
			<li>
				<a href="/">
					<i class="fa fa-dashboard"></i>
					Accueil</a>
			</li>
			<li>
				<a href="#">forum</a>
			</li>
		</ol>
	</section>
{% endblock %}


{# Page content #}
{% block content %}

	{# Forum tool bar #}
	{% include "layouts/partials/forum_toolbar.html.twig" %}
	<div class="row">
		<div class="container mx-auto">
			<ol class="breadcrumb" id="Rub1">
				<div class="row mx-auto">
					<li class="breadcrumb-item active mr-2">
						<h3>Participants de la rubrique: {{ category.topic }}</h3>
					</li>
				</div>
			</ol>
			<div class="card border-warning">

				<div class="card-header bg-gray-dark">
					<div class="row no-gutter">
						<li class="breadcrumb-item active mr-2">
							<i style="margin: 5px; color: #FE9A2E;" class="fa fa-rss mr-2 ml-5"></i>{{category.topic}}</li>
					</div>
				</div>

				<div class="card-header bg-gray-dark">
					<div class="row no-gutter">
						<div class="col-6 text-center">
							<i class="fa fa-user-circle-o" aria-hidden="true"></i>
						</div>
						<div class="col-6 text-center">
							<i class="fa fa-comments" aria-hidden="true"></i>
						</div>
					</div>
				</div>

				<div class="card-body">
					<ul class="list-group list-group-flush">

						{% for user in participants %}
							<div class="row no-gutter list-item">
								<div class="col-6">
									<i class="fa fa-user-circle-o" style="margin-right: 5px;" aria-hidden="true"></i>
									<a href="{{ path('forum_message_of_author',{id: user.id }) }}">{{ user.email }}</a>
								</div>
								<div class="col-6 text-center">
									{{ user.totalMessage }}
								</div>
							</div>
							<hr style="color: black; width: 100%;"><br>
						{% else %}
							<div class="col-6">
								Aucun participant trouvé poru la rubrique {{ category.topic }}
							</div>
						{% endfor %}


						<nav aria-label="Page navigation example">
							<ul class="pagination justify-content-center">
								<li class="page-item disabled">
									<a class="page-link" href="#" tabindex="-1">Previous</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">1</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">2</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">3</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">Next</a>
								</li>
							</ul>
						</nav>

					</ul>
				</div>
			</div><br><br><br>
		</div>
	</div>
	{# Stats widgets #}
	{% include "layouts/partials/stats.html.twig" %}
{% endblock %}
